<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modais</title>

    <link rel="stylesheet" href="modeloModal.css">
</head>

<body>

    
    <!-- MODAL TRANSFERIR -->
    



    <!-- MODAL JUSTIFICATIVA -->
    <section class="modal-overlay">

        <article class="modal-container modal-justificativa">

            <a href="#" class="modal-close">x</a>

            <h1 class="modal-title">
                Justificativa
            </h1>

            <p class="modal-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis, quasi distinctio! Temporibus similique expedita 
                laboriosam, assumenda officia veritatis amet doloremque esse 
                obcaecati repudiandae architecto in sed facilis quas harum.
            </p>

        </article>

    </section>

</body>

</html>